* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    object-fit: contain;
    width: 250px;
    height: 250px;
}

canvas{
    background-color:rgb(255, 226, 224);
    
    /* width: 250px;
    height: 250px; */
    /* display: flex; */
    
}

.canvas-container{
    border: 1px solid black;
    background-color: beige;
    
    width: 450px;
    height: 450px;
    display: relative;
    margin: 0 auto;
    /* margin-bottom: 20px; */
}


.gallery-container{
    position: relative;
    /* align-items: center;
    justify-content: center; */
    text-align: center;
    
}

.gallery-container img{
    flex-wrap: wrap;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
    margin: 5px;
    border: 2px solid black;
    border-radius: 20px;
    opacity: 0.8;
    -webkit-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 17px -7px rgba(0,0,0,0.75);
}

.gallery-container img:hover{
    cursor: pointer;
    transform: scaleZ(1.4);
    opacity: 1;
}
.editor{
    /* display: grid; */
    display: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: blueviolet;
    margin: 20px;
    /* display: grid; */
    /* height: 100%; */
    /* width: 100%; */
    /* max-width: 100%; */
    grid-template-rows: repeat(4,110px) ;
    grid-template-columns: repeat(3,1fr) ;
    column-gap: 10px;
    row-gap: 10px ;


}

   
/* .grid-container{
    display: grid;
    height: 100%;
    width: 100%;
    max-width: 100%;
    grid-template-rows: repeat(5,110px) ;
    grid-template-columns: repeat(3,1fr) ;
    column-gap: 10px;
    row-gap: 10px ;
} */

.header-container{
    /* height: 100%; */
    width: 100%;
    background-color: #292929;

}


.logo-text{
    color: #ffffff;
    font-size: 40px;
}


.navbar {
    display: flex;
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}
  
  /* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: brown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.main-header .main-nav a {
    display: flex;
    padding: 10px;
    text-shadow: 0 1px 0 #1e1e1e;
    box-shadow: -1px 0 0 #1d1d1d;
    height: 130px;
    width: 131px;
    color: white;
    text-decoration: none;
    justify-content: center;
}


.main-header .main-nav a:hover{
    color: #a05e14;
    box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #a05e14;
}


.edit-btn{
    /* width: 20%;
    height:20%; */
    height: 30px;
    width: 30px;
    object-fit:cover;
    background-color: burlywood;
}



button{
        background-color: #ffe694; /* Green */
        border: none;
        color: black;
        padding: 10px 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
button:hover{
    cursor: pointer;
}










/* helper */
.flex{
    display: flex;
}
.hide{
    display: none;
}

.clean-list{
    list-style: none;
}
.flex.align-center {
    align-items: center;
}
.flex {
    display: flex;
}
.flex.space-between {
    justify-content: space-between;
}
.flex.align-center {
    align-items: center;
}
.clean-list {
    list-style-type: none;
    padding: 0; 
}       



@media(max-width:700px) {
    canvas {
        width: 250px;
        height: 250px;
    }
    .canvas-container{
    border: 1px solid black;
    background-color: beige;
    width: 250px;
    height: 250px;
    display: relative;
    margin: 0 auto;
    }
    .editor{
    display: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: blueviolet;
    }
    .navbar {
        display: flex;
        overflow: hidden;
        background-color: #333;
        font-family: Arial;
    }
      
      /* Links inside the navbar */
    .navbar a {
        float: left;
        font-size: 16px;
        color: brown;
        text-align: center;
        padding: 0px;
        text-decoration: none;
    }
      
    .main-header .main-nav a {
        display: flex;
        padding: 10px;
        text-shadow: 0 1px 0 #1e1e1e;
        box-shadow: -1px 0 0 #1d1d1d;
        height: 40px;
        width: 50px;
        color: white;
        text-decoration: none;
        justify-content: center;
    }
    
}